body {
    font-family: "Lato", sans-serif;
    background-color: rgb(9, 115, 186);
  }
  
.container-fluid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0%;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 3%;
    padding-bottom: 30px;
    padding-left: 3%;
    background-color: black;
  }
  
.right-side {
display: flex;
}

.nav-wrapper > .right-side > div {
margin-left: 10px;
text-transform: uppercase;
font-size: 0.9rem;
}

.nav-link-wrapper {
height: 22px;
border-bottom: 1px solid transparent;
transition: border-bottom 0.5s;
}

.active-nav-link {
border-bottom: 1px solid white;
}

.active-nav-link a {
color: white !important;
}

.nav-link-wrapper a {
color: #aaaaaa;
text-decoration: none;
transition: color 0.5s;
}

.nav-link-wrapper:hover {
border-bottom: 1px solid white;
}

.nav-link-wrapper a:hover {
color: white;
}

.brand {
    color: white;
}

.textbox {   
    padding-top: 0px;
    padding-bottom:0px;
    background-image: url(pictures/NeahBay2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 800px;
 }

.main_text {
    text-align:center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.623);  
}

.main_text p {
    color: white;
}

.main_text h1 {
    color: white;
}

.footer {
    text-align:center;
}

/* Positioning of the index page form */

.form_format {
    text-align:center;
    margin-left: 15%;
    margin-right: 15%;
}

/* Tweaking bootstrap style formats */

.form_format label {
    color: white;
}

.form-label {
    margin-bottom: 0%;
    color: white;
    font-weight: bold;
}

.form-select {
    padding-top: 12px;
    padding-bottom: 12px;
}

.g-3, .gy-3 {
    --bs-gutter-y: .1rem;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white
}

input[type=submit] {
    width: 40%;
    max-width: 200px;
    min-width: 144px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

